body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5F5D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
/*
    altro colore bello #774b17 marrone castagna
*/
.container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    max-width: 98%;
    margin: 20px 0;
    flex-grow: 0;
    padding-bottom: 60px;
}

.side-left, .side-right {
    width: 40%;
    padding: 10px;
    max-height: calc(100vh - 140px);
    color:#2a2261;
    font-size:xx-large;
    overflow-y: auto;
}

.side-left {
    margin-right: 10px;
}

.side-left p {
    font-family: sans-serif;
    font-size: 5vh;
    font-weight: 600;
}

.side-right {
    margin-left: 10px;
}

.main {
    text-align: center;
    font-weight: 700;
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
}

.title {
    width: 100%;
    padding: 1.5vh 2vw;
    background-color: #F5F5D2;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: #2a2261;
    display: flex; /* Usa Flexbox */
    justify-content: space-between; /* Spinge gli elementi ai lati opposti */
    align-items: center; /* Allinea verticalmente */
    margin: 0;
}

.titleleft{
    margin-left: 2vh;
}

.titleleft h1{
    font-family: Humane-Thin;
    font-size: 10vh;
}

h1{
    margin: 0;
}

.titleright{
    margin-right: 2vh;
}

.titleright a{
    font-weight: 500;
    margin: 0 4vh 0 0vh;
    font-family: sans-serif;
}

.title h1 {
    margin: 0;
    font-weight: 10000;
}

footer {
    text-align: center;
    font-size: 200px;
    font-family: Humane-Medium;
    padding: 10px;
    width: 100%;
    background-color: #2a2261;
    color: #F5F5D2;
    position: fixed;
    bottom: 0;
}

html, body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(32, 32, 32, 0.8);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(32, 32, 32, 1);
}

@media (max-width: 768px) {
    .main {
        width: 80%;
    }

    .side-left, .side-right {
        display: none;
    }

    .title {
        font-size: 90%;
    }
}

a {
    text-decoration: none;
    color: #2a2261;
    font-weight: 600;
    transition: color 0.3s ease;
}

a:hover {
    color: #2a2291;
}

a:active {
    color: #2a2231;
}

a:visited {
    color: #2a2261;
}

.side-left a, .side-right a, .main a {
    font-size: 16px;
}

@font-face {
    font-family: 'FontTitolo';
    src: url('../font/Dbacks/Dbacks.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontMain';
    src: url('../font/Aquifer/Aquifer.ttf') format('truetype'),
    url('../font/Aquifer/Aquifer.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humane-Thin';
    src: url('../font/Humane/Humane-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humane-Medium';
    src: url('../font/Humane/Humane-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    z-index: 1000;
}

.cookie-banner a {
    color: #ffeb3b;
    text-decoration: none;
}

.cookie-banner button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.cookie-banner button:hover {
    background-color: #45a049;
}

/*ROARR*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #2a2261;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #2a2261;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}